@page
@model SejlBåd.Pages.BlogPages.CreateNewBlogPostModel
@{
}

<form method="post">
    <div class="form-group">
        <label asp-for="@Model.BlogPost.BlogPostTitle" class="form-label">Titel:</label>
        <input asp-for="@Model.BlogPost.BlogPostTitle" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.BlogPost.BlogPostSubtext" class="form-label">Undertitel:</label>
        <input asp-for="@Model.BlogPost.BlogPostSubtext" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.BlogPost.BlogPostText" class="form-label">Tekst:</label>
        <textarea asp-for="@Model.BlogPost.BlogPostText" class="form-control" rows="12"></textarea>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Lav nyt indlæg</button>
    </div>
</form>