@page
@model SejlBåd.Pages.BlogPages.UpdateBlogPostModel
@{
}

<form method="post">
    <div class="form-group">
        <label asp-for="@Model.BlogPost.Id" class="control-lable">ID</label>
        <input asp-for="@Model.BlogPost.Id" class="form-control" readonly="@(true)" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.BlogPost.BlogPostTitle" class="control-lable">Titlen:</label>
        <input asp-for="@Model.BlogPost.BlogPostTitle" class="form-control" />
        <span asp-validation-for="@Model.BlogPost.BlogPostTitle" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.BlogPost.BlogPostSubtext" class="control-lable">Undertitlen:</label>
        <input asp-for="@Model.BlogPost.BlogPostSubtext" class="form-control" />
        <span asp-validation-for="@Model.BlogPost.BlogPostSubtext" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.BlogPost.BlogPostText" class="control-lable">Tekst:</label>
        <textarea asp-for="@Model.BlogPost.BlogPostText" class="form-control" rows="12" />@Model.BlogPost.BlogPostText</textarea>
        <span asp-validation-for="@Model.BlogPost.BlogPostText" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Opdatér Blogindlæg" class="btn btn-primary" />
    </div>
</form>
<div style="margin-top:5px">
    <a asp-page="/BlogPages/GetAllBlogPosts">Gå tilbage til bloggen</a>
</div>