@page
@model SejlBåd.Pages.EventPages.CreateEventModel
@{
}

<form method="post">
    <div class="form-group">
        <label asp-for="@Model.Event.EventName" class="control-lable"></label>
        <input asp-for="@Model.Event.EventName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Event.EventDescription" class="control-lable"></label>
        <input asp-for="@Model.Event.EventDescription" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Event.EventDate" class="control-lable"></label>
        <input asp-for="@Model.Event.EventDate" class="datetime-local" />
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>