@page "{id:int}"
@model SejlBåd.Pages.EventPages.EditEventModel
@{
    if (HttpContext.Session.GetString("UserRole") == "User")
    {
        ViewData["IsUser"] = true;
    }
    if (HttpContext.Session.GetString("UserRole") == "Admin")
    {
        ViewData["IsAdmin"] = true;
    }
}

<form method="post">
    <div class="form-group">
        <label class="control-lable">ID</label>
        <input asp-for="@Model.Event.EventId" class="form-control" readonly="@(true)" />
    </div>
    <div class="form-group">
        <label class="control-lable">Navnet på Begivenhed</label>
        <input asp-for="@Model.Event.EventName" class="form-control" />
        <span asp-validation-for="@Model.Event.EventName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-lable">Beskrivelse af Begivenhed</label>
        <input asp-for="@Model.Event.EventDescription" class="form-control" />
        <span asp-validation-for="@Model.Event.EventDescription" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-lable">Dato på Begivenhed</label>
        <input asp-for="@Model.Event.EventDate" class="form-control" />
        <span asp-validation-for="@Model.Event.EventDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Redigér" class="btn btn-primary" />
    </div>
</form>
<div>
    <a asp-page="/EventPages/Events">Tilbage til begivenheder</a>
</div>