@page
@model SejlBåd.Pages.EventPages.EventsModel
@{
    if (HttpContext.Session.GetString("UserRole") == "User")
    {
        ViewData["IsUser"] = true;
    }
    if (HttpContext.Session.GetString("UserRole") == "Admin")
    {
        ViewData["IsAdmin"] = true;
    }
}

<center><h1>Begivenheder</h1></center>
<br />

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Navn
            </th>
            <th>
                Beskrivelse
            </th>
            <th>
                Dato
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model._eventService != null)
        {
            foreach (var events in Model._eventService.GetEvents())
            {
                <tr>
                    <td>
                        @events.EventId
                    </td>
                    <td>
                        @events.EventName
                    </td>
                    <td>
                        @events.EventDescription
                    </td>
                    <td>
                        @events.EventDate
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" type="button" title="Edit" asp-page="EditEvent" asp-route-id="@events.EventId">Rediger</a>
                        <a class="btn btn-danger btn-sm " type="button" title="Delete" asp-page="DeleteEvent" asp-route-id="@events.EventId">Slet</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<p>
    <a class="btn btn-primary" asp-page="CreateEvent"> Lav Begivenhed </a>
</p>